<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="login-sec">
            <h3 class="text-center pt-5 blue-heading ">Sign Up to LoanPro</h3>
            <div class="card border-0 mt-4">
                <div class="card-body border border-grey">
                    <form>
                        <div class="form-group mb-3">
                            <label class="mb-1">First Name</label><input class="form-control " id="firstName"
                                type="text" placeholder="Enter first name" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-1">Last Name</label><input class="form-control " id="lastName" type="text"
                                placeholder="Enter last Name" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-1">Email</label><input class="form-control " id="email" type="email"
                                placeholder="Enter email address" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-1">Mobile Number</label><input class="form-control " id="mobile"
                                type="email" placeholder="Enter Mobile Number" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-1">Password</label>
                            <input class="form-control" id="password" type="password" placeholder="Enter password" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-1">Confirm Password</label>
                            <input class="form-control" id="confirmPassword" type="password"
                                placeholder="Enter password again" />
                        </div>
                        <div class="form-group  mt-4 mb-0">

                            <button class="d-block btn btn-primary w-100" href="#">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>